<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="icon" href="/static/icons/teacher_icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher.css') }}">
</head>
<body>
    <div class="sidebar">
        <div>
            <h3>Hi, {{name}}</h3>
            <h5>
                {{course}}
                <i class="fa-brands fa-python" style="padding-left: 10px"></i>
            </h5>

            <a href="#" id="home-button" onclick="showStudents()">
                <i class="fa-solid fa-house"></i> Home
            </a>
            <a href="#" id="students-button">
                <i class="fas fa-user-graduate"></i> Students
            </a>
            <div id="student-options" style="display: none">
                <a href="#" onclick="studentsInfoButton()">- Info</a>
                <a href="#" onclick="studentsGradesButton()">- Grades</a>
                <a href="#" onclick="passedTheTestButton()">- Passed The Test</a>
            </div>
            <a href="#">
                <i class="fa-solid fa-list-check"></i> Assignments
            </a>
            <a href="#" onclick="profile()">
                <i class="fa-regular fa-user"></i> Profile
            </a>
        </div>
        <div class="logout-button">
            <a onclick="logOut()" class="btn btn-danger btn-block">
                <i class="fas fa-arrow-left"></i> Logout
            </a>
        </div>
    </div>
    <div class="content-container">
        <div id="info">
            <!-- Content will be dynamically loaded here -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/teacher.js') }}"></script>
</body>
</html>